{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>お支払い方法</h1>
    <form method="post">
        <div class="form-group">
            <label>カード種別</label>
            <input type="text" class="form-control" value="visa" readonly>
        </div>
        <div class="form-group">
            <label>カード名義人</label>
            <input type="text" class="form-control" value="samurai" readonly>
        </div>
        <div class="form-group">
            <label>カード番号</label>
            <input type="text" class="form-control" value="**** **** **** 4242" readonly>
        </div>
        <div class="form-group">
            <label for="card_name">カード名義人</label>
            <input type="text" class="form-control" id="card_name" name="card_name">
        </div>
        <div class="form-group">
            <label for="card_number">カード番号</label>
            <input type="text" class="form-control" id="card_number" name="card_number">
        </div>
        <div class="form-group">
            <label for="expiry_date">有効期限（月/年）</label>
            <input type="text" class="form-control" id="expiry_date" name="expiry_date">
        </div>
        <div class="form-group">
            <label for="security_code">セキュリティコード</label>
            <input type="text" class="form-control" id="security_code" name="security_code">
        </div>
        <button type="submit" class="btn btn-primary">変更</button>
    </form>
</div>
{% endblock %}
