{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock css %}

  {% block content %}
  <!-- <section class="search-form">
    <div class="container">
       <form method="GET" action="{% url 'userapp:search' %}">
            <div class="form-group">
                <label for="selected_category">業態</label>
                <select name="selected_category" id="selected_category" class="form-control">
                    <option value="">選択してください</option>
                    {% for category in searchform.fields.selected_category.queryset %}
                        <option value="{{ category.id }}" {% if category.id|stringformat:"s" == request.GET.selected_category %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="freeword">フリーワード</label>
                <input type="text" name="freeword" id="freeword" class="form-control" value="{{ request.GET.freeword }}">
            </div>
            <button type="submit" class="btn btn-primary">検索</button>
        </form> -->
    </div>
</section>

<section class="search-results">
    <div class="container">
        <h2 class="section-title">検索結果</h2>
        <div class="row">
            {% if total_hit_count > 0 %}
                <h3>{{ total_hit_count }}件あります。<small>最大10件表示</small></h3>
                <br><br>
                {% for item in shop_info %}
                <div class="col-md-12">
                    <div class="section-outer-box">
                        <div class="row">
                            <div class="col-xs-9 col-md-9 section-box">
                                <h4>{{ item.name }}
                                    {% if item.id %}
                                    <a href="{% url 'userapp:shop_info' item.id %}" class="btn common-btn">詳細を見る</a>
                                    {% endif %}
                                </h4>
                                <p>{{ item.tel }}</p>
                                <p>{{ item.address }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col-lg-12">
                        <p>検索結果が見つかりませんでした。</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
